<html>
<body>
<h1><u><center>This is a Data Web Server for 
CDS Internship 2021</u></h1>
<h2><u>Available URL extensions:</u></h2>
<p> <a href="{{ url_for('init') }}"><button type="button">Initialize Server</button></a> 
<font color="#808080"> &nbsp;&nbsp;&nbsp;&nbsp;
(Initializes the server)</p>
<p><a href="{{ url_for('data') }}"><button type="button">View Data</button></a> 
<font color="#808080"> &nbsp;&nbsp;&nbsp;&nbsp;
(Shows raw data from client and 
controlled data from server)</p>
</body>
</html>